					<div class="messages">
						<ul>
							<li>
								<div class="message">
									<span class="say_date">2011/04/22 20:25</span>
									<span class="say">HelloWorld 1</span>
								</div>
							</li>
							<li>
								<div class="message">
									<span class="say_date">2011/04/22 20:26</span>
									<span class="say">HelloWorld 2</span>
								</div>
							</li>
							<li>
								<div class="message">
									<span class="say_date">2011/04/22 20:27</span>
									<span class="say">HelloWorld 3</span>
								</div>
							</li>
							<li>
								<div class="message">
									<span class="say_date">2011/04/22 20:28</span>
									<span class="say">HelloWorld 4</span>
								</div>
							</li>
							<li>
								<div class="message">
									<span class="say_date">2011/04/22 20:29</span>
									<span class="say">HelloWorld HelloWorld HelloWorld HelloWorld HelloWorld HelloWorld HelloWorld HelloWorld HelloWorld HelloWorld HelloWorld HelloWorld HelloWorld HelloWorld HelloWorld HelloWorld HelloWorld HelloWorld HelloWorld HelloWorld HelloWorld HelloWorld HelloWorld HelloWorld HelloWorld HelloWorld HelloWorld HelloWorld HelloWorld HelloWorld HelloWorld </span>
								</div>
							</li>
							<li>
								<div class="message">
									<span class="say_date">2011/04/22 20:30</span>
									<span class="say">HelloWorld HelloWorld HelloWorld HelloWorld HelloWorld HelloWorld HelloWorld HelloWorld HelloWorld HelloWorld HelloWorld HelloWorld HelloWorld HelloWorld HelloWorld HelloWorld HelloWorld HelloWorld HelloWorld HelloWorld HelloWorld HelloWorld HelloWorld HelloWorld HelloWorld HelloWorld HelloWorld HelloWorld HelloWorld HelloWorld HelloWorld </span>
								</div>
							</li>
						</ul>
					</div>
					<div class="sidebar">
						<div class="menu clearfix">
							<div class="channel-close-btn icon ui-state-default ui-corner-all" title="退出"><span class="ui-icon ui-icon-closethick"></span></div>
						</div>
						<div class="users">
							<ul>
								<li><a href="javascript:void(0)">test_user1</a></li>
								<li><a href="javascript:void(0)">test_user2</a></li>
								<li><a href="javascript:void(0)">test_user3</a></li>
								<li><a href="javascript:void(0)">test_user4</a></li>
							</ul>
						</div>
					</div>
				</div>
