<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<script type="text/javascript" src="/javascripts/jquery-ui/js/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery-ui/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="/javascripts/node-irc.js"></script>
