<div id="ui-container">

	<div id="header-navi-container">
		<div class="title"><img src="/images/logo-s.png"/></div>
	</div>

	<div id="settings-sidebar-container">
	</div>

	<div id="contents-container">
		<div id="channel-container">
			<div id="channel-tabs">
				<ul>
					<li><a href="#tabs-ch-dev">#dev</a></li>
					<li><a href="javascript:void(0)" id="channel-add">+</a></li>
				</ul>
				<div id="tabs-ch-dev" class="tabs-contents clearfix">
					<div class="messages">
						<ul>
							<li>HelloWorld</li>
							<li>aaaaa</li>
							<li>bbbbb</li>
							<li>ccccc</li>
						</ul>
					</div>
					<div class="users">
						<ul>
							<li><a href="javascript:void(0)">test_user1</a></li>
							<li><a href="javascript:void(0)">test_user2</a></li>
							<li><a href="javascript:void(0)">test_user3</a></li>
							<li><a href="javascript:void(0)">test_user4</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div id="say-container">
			<textarea name="say" id="say"></textarea><button id="say-btn">送信</button>
		</div>
	</div>

</div>


<script type="text/javascript" src="/javascripts/jquery-ui/js/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery-ui/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="/javascripts/node-irc.js"></script>
