<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/javascripts/jquery-ui/css/flick/jquery-ui.css' />
  </head>
  <body>
    <%- body %>
  </body>
</html>
