@CHARSET "UTF-8";

/* ================================================
css initialize
================================================ */
* {
	margin:0;
	padding:0;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color:#0C5F95;
	text-decoration:none;
}

a:link {
	color:#0C5F95; text-decoration:none;
}

a:visited {
	color:#0C5F95;
	text-decoration:none;
}

a:hover {
	color:#0C5F95;
	text-decoration:underline;
}

body {
	background-color: #FFFFFF;
}

/* ================================================
clearfix
================================================ */
.clearfix:after{
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}

.clearfix{
    display:inline-block;
    min-height:1%;  /* for IE 7*/
}

/* Hides from IE-mac */
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* End hide from IE-mac */

/* ================================================
common style
================================================ */
.hide {
	display: none;
}

.errors {
	border: 1px solid #FF0000;
	padding: 5px;
	margin-bottom: 20px;
}

.errors > .error {
	border-left: 5px solid #FF0000;
	margin-left: 10px;
}

/* ================================================
ui
================================================ */
#ui-container {
}

#header-navi-container {
	height: 20px;
	border-bottom: 1px solid #dddddd;
}

#header-navi-container .title {
	color: #FFFFFF;
	font-weight: bold;
	margin-left: 5px;
	padding-top: 2px;
	float: left;
}

#header-navi-container > div.user-navi {
	float: right;
	margin-right: 5px;
}

#settings-sidebar-container {
	float: left;
	width: 200px;
	border-right: 1px solid #dddddd;
}

#contents-container {
	float: left;
}

#channel-container {
}

#say-container {
	height: 100px;
	border-top: 1px solid #dddddd;
}

#say {
	height: 82px;
}

#say-btn {
	width: 82px;
	height: 82px;
	vertical-align: top;
	margin-left: 5px;
}

div.tabs-contents {
}

div.tabs-contents ul {
	margin: 0;
	padding: 0;
}

div.tabs-contents ul li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

div.tabs-contents > div.messages {
	float: left;
	overflow: auto;
}

div.tabs-contents > div.messages ul {
	padding: 0 5px;
}

div.tabs-contents > div.messages ul li:nth-child(even) {
	background-color: #DFEBF7;
}

div.tabs-contents > div.messages ul li:nth-child(odd) {
}

div.tabs-contents > div.messages div.message {
	padding: 0 3px;
}

div.tabs-contents > div.messages div.message > span.say_date {
	margin-right: 10px;
	color: #FF0084;
}

div.tabs-contents > div.messages div.message > span.say {
}

div.tabs-contents > div.users {
	float: left;
	text-align: right;
	border-left: 1px solid #dddddd;
	width: 200px;
	overflow: auto;
}

div.tabs-contents > div.users > ul > li > a {
	width: 190px;
}

/* ================================================
channel-add-dialog
================================================ */
#channel-add-dialog {
}

#channel-add-dialog div.items > div.item {
}

#channel-add-dialog div.items > div.item > div.label {
	float: left;
	width: 80px;
}

#channel-add-dialog .submit-buttons {
	text-align: center;
	margin-top: 10px;
}
